*{
    margin: 0;
    padding: 0;
 }
 
 .pet{
     font-size: 30px;
     background-color: #003049;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     padding :20px;
     gap: 30px;
 }
 
 .logo{
     display: flex;
     margin-right: 150px;
     align-items: center;
     font-weight: bold;
     justify-content: center;
     padding-right: 300px;
     gap: 38px;
 }
 
 .sub{
     font-size: 15px;
     gap: 30px;
 }
 
 .sub:hover{
     cursor: pointer;
 }
 
 .sub:hover{
     text-decoration: underline;
 }
 .jpg{
     display: flex;
 }
 .img{
     height: 610px;
 }
 .dropdown {
    position: relative;
    display: inline-block;
    font-size: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #003049;
    color: white;
    min-width: 200px;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 9px;
  }
  .dropdown-content a:hover {
    text-decoration: underline;
  }
  .dropdown:hover .dropdown-content {
    display: block;
}

  .dropbtn{
    font-size: 15px;
  }

  .last1{
    display: flex;
    background-color: #003049;
  }

  .head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #003049;
    padding-top: 20px;
  }

  .card-body{
    
    border: 1px solid #003049;
    width: 98%;
    height: 600px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #edede9;
}
.card-title{
    margin-left: 2%;
    font-size: 2rem;
    margin-top: 15px;
    color: black;
    margin-bottom: 40px;
}

.card-text{
    margin-left: 2%;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    color: black;
}

.card{
    padding: 20px;
    width: 50%;
    
    
}

.dogo{
   width:170px;
   height: 170px;  
   padding-left: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
}
.mega{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
  display: flex;
  width: 100%;
}

.li{
  font-size: 1.5rem;

  margin-top: 12px;
  margin-left: 8px;
}

.vi{
  font-size: 1.5rem;

  margin-top: 4px;
  margin-left: 30px;
}

.nothing{
  background-color: #C1121F;
  color: white;
  margin-top: 50px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last{
  background-color:  #003049;
  color: white;
  list-style-type: none;
  padding-left: 5rem;
  padding-bottom: 3rem;
}
.list{
  margin-top: 10px;
}
.list:hover{
  text-decoration: underline;
  cursor: pointer;
}
.bol{
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 1rem;
}